@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    width: 6px;
    height: 6px;
  }
  100% {
    width: 12px;
    height: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  width: 100vw;
  overflow-x: hidden;
  user-select: none;
  background-color: white;
  padding: 0 10px;
}

.overlay {
  clip-path: circle(0% at 76%);
}

.pulse {
  animation: pulse infinite alternate 0.8s;
  transform-origin: center;
}

.stretch {
  font-stretch: ultra-expanded;
}

.slide-in, .slide-out, .slide-left, .slide-right {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 9999;
}

.slide-in {
  transform-origin: bottom;
}

.slide-out {
  transform-origin: bottom;
}

.slide-left {
  transform-origin: left;
}

.slide-right {
  transform-origin: left;
}
